<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="C:\Users\hp\.vscode\Codezz\Web Dev\Project-9 Blog Website\public\style.css">
</head>
<body>
    <nav class="navbar">
            <div class="navbarHeader">
                <a href="/"><img src="C:\Users\hp\.vscode\Codezz\Web Dev\Project-9 Blog Website\public\blog.png" alt="Blog Icon" id="icon"></a>
                <p>DAILY JOURNAL</p>
            </div>
            <ul class="navMenu">
                <!-- <li class="navbarItems"><a href="/posts">Post</a></li> -->
                <li class="navbarItems"><a class="navLink"href="/compose">New</a></li>
                <li class="navbarItems"><a class="navLink"href="/">Home</a></li>
                <li class="navbarItems"><a class="navLink"href="/about">About</a></li>
                <li class="navbarItems"><a class="navLink"href="/contact">Contact Us</a></li>
            </ul>
            <div class="burger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
    </nav>    
    <script>
        const burger = document.querySelector(".burger");
        const navMenu = document.querySelector(".navMenu");
        burger.addEventListener("click",()=>{
            burger.classList.toggle("active");
            navMenu.classList.toggle("active");
        });
        document.querySelectorAll(".navLink").forEach(ele=>{
            ele.addEventListener("click",(n)=>{
                burger.classList.toggle("active");
                navMenu.classList.toggle("active");
            });
        });
    </script>
