<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <nav class="navbar">
        <div class="navbarHeader">
            <a href="/"><img src="/blog.png" alt="Blog Icon" id="icon"></a>
            <p>DAILY JOURNAL</p>
        </div>
        <ul class="navMenu">
            <!-- <li class="navbarItems"><a href="/posts">Post</a></li> -->
            <li class="navbarItems">
                <a class="navLink" href="/">Home</a>
            </li>
            <li class="navbarItems loginLink showLogOut">
                <a class="navLink" href="/user/log-in">Log In</a>
            </li>
            <li class="navbarItems signupLink showLogOut">
                <a class="navLink" href="/user/sign-up">Sign Up</a>
            </li>
            <li class="navbarItems showLogIn">
                <a class="navLink" href="/blog/compose">New</a>
            </li>
            <li class="navbarItems showLogIn">
                <a class="navLink" href="/blog/dashboard">DashBoard</a>
            </li>
            <li class="navbarItems showLogIn">
                <a class="navLink" href="/user/log-out">Log-Out</a>
            </li>
            <!-- <li class="navbarItems">
                <a class="navLink" href="/about">About</a>
            </li>
            <li class="navbarItems">
                <a class="navLink" href="/contact">Contact Us</a>
            </li> -->
        </ul>
        <div class="burger">
            <span class="material-symbols-outlined menu">
                menu
            </span>
            <span class="material-symbols-outlined close">
                close
            </span>
        </div>
    </nav>

    <button id="dark-toggle">
        <span class="material-symbols-outlined" id="dark-btn">
            dark_mode
        </span>
        <span class="material-symbols-outlined" id="light-btn">
            light_mode
            </span>
    </button>
    
