<%- include("partials/header");%>
    <div class="home">

        <h1>About Page</h1>
        <!-- <p><%= aboutLorem%></p> -->
        <p>=>ABOUT CONTENT<=Lorem ipsum dolor sit amet consectetur adipisicing elit. Est placeat ea facilis ad eius doloremque, expedita delectus voluptates, consequatur consectetur dolor vitae corporis mollitia dolores quos maxime, atque laboriosam.</p>
    </div>

<%- include("partials/footer");%>