    <%- include("partials/header");%>

    <div class="compose">
        <h1>Compose</h1>
        <form action="/compose" method="post">
            <div>
                <label for="newTitle">Title: </label>
                <input type="text" name="newTitle" placeholder="Enter title here..." required>
                <label for="newPost">Post: </label>
                <textarea name="newPost" cols="120" rows="15" placeholder="Enter text here..."></textarea>
            </div>
            <button type="submit">Publish</button>
        </form>
    </div>

    <%- include("partials/footer");%>