<%- include("partials/header");%>

<div class="signup">
    <h1>Log-In</h1>
    <form action="/user/sign-up" method="post">
        <div>
            <div>
                <input type="email" name="email" id="email" placeholder="Enter email here">
                <label for="email">Email: </label>
            </div>
            <div class="password-container">
                <input type="password" name="password" id="password" placeholder="Enter password here">
                <label for="password">Password: </label>
                <span id="password-btn">
                    Show
                </span>
            </div>
        </div>
        <div class="error-msg">
            <p>
                <%= errorMsg%>
            </p>
        </div>
        <button type="submit">
            Log In
        </button>
        <div class="link-container">
            <p>
                New to our Journal ? 
            </p>
            <a href="/user/log-in">Register here</a>
        </div>
    </form>
</div>

<%- include("partials/footer");%>