@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Martian+Mono:wght@300&family=Roboto+Slab:wght@500&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-back: #50394c;
    --purple-acc: #5f475b;
    --yellow-back: #fff5ee;
    --yellow-dark: #fff5bb;
    --grey-text: #7c757c;
    --grey-acc: #b2b2b2;
}

::selection {
    background-color: var(--purple-acc);
    color: var(--yellow-back);
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--yellow-back);
}
::-webkit-scrollbar-thumb{
    background-color: var(--purple-acc);
}
body {
    background-color: var(--yellow-back);
}

/* NAVBAR SECTION */
.navbar {
    background-color: var(--yellow-dark);
    color: var(--purple-back);
    height: 5.7rem;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
    border-bottom: 3px solid rgb(87, 64, 6);
    box-shadow: 1px 2px 5px var(--purple-acc);
}

.navbarHeader {
    font-size: 2.2rem;
    margin-top: 0.5rem;
    display: flex;
    padding: 0.8rem 0.4rem;
}

#icon {
    height: 5rem;
    width: 4.8rem;
    margin: 30px 1rem;
}

.navbarHeader p {
    margin: 3rem 0;
    font-family: 'Roboto Slab', serif;
    opacity: 1;
    font-weight: 900;
}

.navMenu {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding: 0.9rem 0.8rem;
    font-size: 1.1rem;
    margin: 10px 0;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--purple-acc);
    font-family: 'Martian Mono', monospace;
}

.navbar ul li a::before {
    height: 3px;
    content: '';
    background-color: var(--purple-back);
    width: 0;
    position: relative;
    top: 28px;
    left: 0px;
    display: block;
    transition: all 0.4s ease;
}

.navbar ul li a:hover::before {
    width: 105%;
}

.navbar .burger {
    display: none;
}
.navbar .burger .menu, .navbar .burger .close{
    display: none;
}

/* NAVBAR ENDS */

/* Footer */
footer {
    /* background-color: rgba(51, 51, 51, 0.781); */
    background-color: var(--purple-back);
    height: 70px;
    width: 100%;
    color: var(--grey-acc);
    font-family: 'Martian Mono', monospace;
    font-size: 1.5rem;
    border-top: 4px solid var(--grey-acc);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Footer Ends */

/* HOME SECTION */
.home {
    margin: 10px 75px;
    padding: 25px;
    padding-bottom: 0;
}

.home .homeBox {
    margin: 18px 5px;
    padding: 20px 18px;
    border-radius: 7px;
}

.home .homeBox:hover {
    box-shadow: 1px 2px 5px var(--purple-back);
}

.home .hRule {
    width: 100%;
    background-color: var(--purple-back);
    height: 2px;
}

.home h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--purple-back);
}

.home p {
    color: var(--grey-text);
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    margin: 10px 0px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.home p a {
    margin: 0;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--grey-text);
    font-family: 'Rubik', sans-serif;
}

/* Home Section */

/* Compose Page */
.compose {
    margin: 0 100px;
    height:90vh;
    padding: 20px 0;
}

.compose h1 {
    font-size: 3rem;
    color: var(--purple-back);
    font-family: 'Kanit', sans-serif;
}

.compose form {
    width: 100%;
    display: flex;
    align-items: center;
}
.compose form div{
    width: 70%;
}
.compose textarea,
.compose input {
    height: 250px;
    width: 85%;
    background-color: #ffffffd0;
    border-radius: 0.8vw;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;

    border: 1px double grey;
    outline: none;
}

.compose input {
    height: 70px;
}

.compose textarea::placeholder,
.compose input::placeholder {
    font-size: 1rem;
}

.compose label {
    font-size: 1.8rem;
    font-family: 'Kanit', sans-serif;
    color: var(--purple-back);
    display: block; 
}

.compose button {
    display: block;
    height: 70px;
    width: 200px;
    justify-self: flex-start;
    color: white;
    font-size: 1.2rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--purple-back);
    cursor: pointer;
}

.compose button:hover {
    color: var(--purple-back);
    background-color: white;
    border-color: var(--purple-back);
}
.compose button:active{
    outline: 2px solid var(--purple-acc);
    outline-offset: 2px;
}

/* Compose Ends */

#delete {
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin-left: 0.5vw;
}



@media screen and (max-width:1050px) {
    .home{
        margin: 10px 35px;
    }
    .home p{
        font-size: 1rem;
    }
}
@media screen and (max-width:900px) {
    .navbar .burger{
        display:block;
    }
    .burger .menu {
        display: block;
    }
    .burger .menu.active{
        display: none;
    }
    .burger .close.active{
        display: block;
    }
    .navbar.active {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 5px;
        transition: all 0.5s ease;
    }
    .navbarHeader {
        font-size: 2rem;
        /* margin-top: 0.5rem; */
        display: flex;
        padding: 0.8rem 0.4rem;
        /* align-self: flex-start; */
    }
    .navbarHeader p{
        margin: 2.5rem 0;
    }
    #icon {
        height: 4.2rem;
        width: 3.8rem;
        margin: 30px 1rem;
    }
    .navMenu{
        display: none;
    }
    .navMenu.active{
        flex-direction: column;
        align-self: center;
        
    }   
}