@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Martian+Mono:wght@300&family=Roboto+Slab:wght@500&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-back: #fff;
    --sec-back: #00308F;
    --text-color: gray;
    --body-bg:#f5f5f5;
    --box-shadow:2px 2px 7px black;
    --icon-filter:invert(0);
    --footer-clr:var(--sec-back);
    --footer-text:var(--main-back);
}
.dark-mode{
    --body-bg: #181a1e;
    --sec-back: #edeffd;
    --text-color: #a3bdcc;
    --main-back: #202528;
    --box-shadow:2px 5px 3rem rgb(0,0,0,0.4);
    --icon-filter:invert(1);
    --footer-clr:var(--main-back);
    --footer-text:var(--sec-back);
    /* --body-bg: #1F305E; */
    /* --body-bg: #002244;
    --body-bg: #4C516D; */
    /* --main-back:#0C2340; */
    /* --main-back: #1F305E; */
    /* --body-bg:#002244; */
    /* --main-back:#00416A; */
    /* --main-back:#1E2952; */
}
::selection {
    background-color: var(--sec-back);
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--body-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sec-back);
}

body {
    background-color: var(--body-bg);
}

/* NAVBAR SECTION */
.navbar {
    background-color: var(--main-back);
    color: var(--sec-back);
    padding: 0 10px;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
    /* border-bottom: 3px solid rgb(87, 64, 6); */
    box-shadow: var(--box-shadow);
    z-index: 10;
}

.navbarHeader {
    display: flex;
}

.navbarHeader p {
    font-size: 2.2rem;
}

#icon {
    height: 5rem;
    width: 4.8rem;
    margin: 30px 1rem;
    filter: var(--icon-filter);
}

.navbarHeader p {
    margin: 3rem 0;
    font-family: 'Roboto Slab', serif;
    opacity: 1;
    font-weight: 900;
}

.navMenu {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding: 0.9rem 0.8rem;
    font-size: 1.1rem;
    margin: 10px 0;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--sec-back);
    font-family: 'Martian Mono', monospace;
}

.navbar ul li a::before {
    height: 3px;
    content: '';
    background-color: var(--sec-back);
    width: 0;
    position: relative;
    top: 28px;
    left: 0px;
    display: block;
    transition: all 0.4s ease;
}

.navbar ul li a:hover::before {
    width: 105%;
}

.navbar .burger {
    display: none;
}

#dark-toggle{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: var(--main-back);
    border: 1px solid var(--sec-back);
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items:center;
}
#dark-toggle span{
    color: var(--sec-back);
    font-size: 2rem;
}
#dark-toggle #dark-btn{
    display: none;
}
#dark-toggle.active #dark-btn{
    display: block;
}
#dark-toggle.active #light-btn{
    display: none;
}

/* NAVBAR ENDS */

/* Footer */
footer {
    background-color: var(--footer-clr);
    height: 90px;
    width: 100%;
    color: var(--footer-text);
    font-family: 'Martian Mono', monospace;
    font-size: 1.5rem;
    border-top: 4px solid var(--sec-back);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Ends */

/* HOME SECTION */
.home {
    margin: 10px 50px;
    padding: 25px;
    padding-bottom: 0 !important;
    min-height: 100vh;
}

.home .homeBox {
    margin: 18px 5px;
    padding: 35px 25px;
    border-radius: 7px;
    background-color: var(--main-back);
    box-shadow: var(--box-shadow);
    transition: all 0.2s;
    z-index: -1;
}

.home .homeBox:hover {
    z-index: -1;
    box-shadow: none;
    transform: translate(2px,2px);
}

.home .hRule {
    width: 100%;
    background-color: var(--sec-back);
    height: 2px;
}

.home h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--sec-back);
}

.home p {
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    margin: 10px 0px;
    font-size: 1.1rem;
    flex: 2;
}

.homeBox div {
    display: flex;
    justify-content: space-between;
}

.homeBox div span {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homeBox div a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

.homeBox div button span{

    color: var(--text-color);
}

/* Home Section */

/* Compose Page */
.compose, .signup {
    margin: 0 100px;
    min-height: 90vh;
    padding: 20px 0;
}

.compose h1, .signup h1{
    font-size: 3rem;
    color: var(--sec-back);
    font-family: 'Kanit', sans-serif;
}

.compose form {
    width: 100%;
    display: flex;
    align-items: center;
}

.compose form div, .signup form div {
    width: 100%;
}
.signup form div {
    margin-top: 25px;
}
.compose textarea,
.compose input, .signup input {
    height: 250px;
    width: 85%;
    background-color: var(--main-back);
    border-radius: 0.8vw;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border: none;
    outline: none;
    /* box-shadow: inset var(--box-shadow); */
    z-index: -1;
}
.signup input{
    width: 100%;
}
.compose div, .signup div{
    margin-top: 20px;
}
.compose input , .signup input{
    height: 70px;
    color: var(--text-color);
}
.compose form div div, .signup form div div{
    position: relative;
    width: 100%;
}
.compose textarea::placeholder,
.compose input::placeholder, .signup input::placeholder {
    font-size: 1rem;
    visibility: hidden;
}
.compose textarea:focus,
.compose input:focus, .signup input:focus {
    border: 1px solid var(--sec-back);
}
.compose textarea:focus+label,
.compose input:focus+label,
.compose textarea:not(:placeholder-shown)~label,
.compose input:not(:placeholder-shown)~label, .signup input:focus+label,
.signup input:not(:placeholder-shown)~label {
    top: -30px;
    left: 5px;
}
.compose label, .signup label {
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    color: var(--sec-back);
    display: block;
    position: absolute;
    top: 13px;
    left: 20px;
    transition: all 0.2s linear;
    z-index: 5;
}

.compose button, .signup button {
    display: block;
    height: 60px;
    width: 200px;
    justify-self: flex-start;
    color: var(--main-back);
    font-size: 1.2rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--sec-back);
    cursor: pointer;
    transition: all 0.2s ;
}
.signup button{
    margin: 0 auto;
}
.compose button:hover, .signup button:hover {
    color: var(--sec-back);
    background-color: var(--main-back);
    border-color: var(--sec-back);
}

.compose button:active, .signup button:active {
    outline: 2px solid var(--sec-back);
    outline-offset: 2px;
}
.signup #password-btn{
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 3%;
    color: var(--text-color);
}
.signup .error-msg{
    margin: 5px auto;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(230, 22, 22);
}
.signup .link-container{
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}
.signup .link-container p{
    color: var(--text-color);
}
/* Compose Ends */

#delete {
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

/* Login Form start */
/* Login Form ends */

@media screen and (max-width:1050px) {
    .home {
        margin: 10px 35px;
    }

    .home p {
        font-size: 1rem;
    }

    .compose, .signup {
        margin: 0 50px;
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 90%;
    }

    .navbar {
        padding: 0 10px;
    }

    .navbar.active {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        transition: all 0.5s ease;
        z-index: 100;
        /* position: absolute; */
    }

    .navbarHeader {
        /* z-index: 100; */
        position: absolute;
        top: -15px;
        left: 10px;
    }

    .navbarHeader p {
        font-size: 2rem;
        margin: auto 0;
    }

    #icon {
        height: 4.2rem;
        width: 3.8rem;
        margin: 30px 1rem;
    }

    .navbar .navMenu {
        display: none;
    }

    .navbar.active .navMenu {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .navbar .burger {
        display: block;
    }

    .burger .menu {
        font-size: 2rem;
        display: block;
        position: absolute;
        right: 15px;
        top: 35px;
    }

    .burger .close {
        font-size: 2rem;
        display: none;
        position: absolute;
        right: 15px;
        top: 35px;
    }

    .burger .menu.active {
        display: none;
    }

    .burger .close.active {
        display: block;
    }

    .home {
        margin: 10px 20px;
        padding: 25px;
    }

    .compose form div{
        width: 85%;
    }
    .signup form div {
        width: 100%;
    }
    .compose button, .signup button {
        width: 170px;
    }

    .compose textarea,
    .compose input{
        width: 90%;
    }
    .signup input{
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .compose h1, .signup h1 {
        text-align: center;
    }

    .compose form, .signup form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .compose textarea,
    .compose input, .signup input {
        width: 100%;
    }

    .compose textarea {
        height: 200px;
    }

    .compose button, .signup button {
        margin-top: 10px;
    }
}

@media only screen and (max-width:520px) {
    html {
        font-size: 80%;
    }
    #icon{
        margin: 35px 1rem;
        height: 3.8rem;
        width: 3.4rem;
    }
    .navbarHeader p{
        font-size: 1.8rem;
    }
    footer{
        height: 70px;
        font-size: 1.2rem;
    }
    .home {
        padding: 10px;
        margin: 10px;
    }

    .homeBox div span {
        font-size: 1.5rem;
        gap: 5px;
    }

    .home h1 {
        font-size: 1.8rem;
    }

    .compose {
        margin:0;
    }
    .signup {
        margin: 0 10px;
    }

    .compose textarea::placeholder,
    .compose input::placeholder, .signup input::placeholder {
        font-size: 1.2rem;
    }
}